svg {
	font-family: 'Russo One', sans-serif;
	position: absolute; 
	width: 90%; height: 120%;
  padding-left: 40%;
}
svg text {
	text-transform: uppercase;
	animation: stroke 5s infinite alternate;
	stroke-width: 2;
	stroke: #365fa0;
	font-size: 140px;
  padding-right: 50%;
}
@keyframes stroke {
	0%   {
		fill: rgba(76, 204, 72); stroke: rgb(0, 0, 0);
		stroke-dashoffset: 25%; stroke-dasharray: 0 50%; stroke-width: 2;
	}
	70%  {fill: rgba(76, 204, 72); stroke: rgb(14, 14, 14); }
	80%  {fill: rgba(76, 204, 72); stroke: rgb(0, 0, 0); stroke-width: 3; }
	100% {
		fill: rgb(76, 204, 72)stroke: rgba(54,95,160,0); 
		stroke-dashoffset: -25%; stroke-dasharray: 50% 0; stroke-width: 0;
	}
}